body{
    background-color:#E0E7FF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tab{
      text-align: center;
     
      margin-top: inherit;
  }
  .table {
    text-align: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #C7D2FE;
    
  }

  .heading {
    font-weight: bolder;
  }


  .btn {
    padding: 0.2rem 0.7rem;
    background-color: #6366F1;
    color: white; 
    border-radius: 0.5rem;
    font-size: larger;
  }
  
